
Header always set Content-Security-Policy: upgrade-insecure-requests
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


Options +FollowSymLinks


<IfModule mod_rewrite.c>

RewriteEngine on
RewriteBase /

## Language
RewriteRule ^([a-z]{2})/?$ index.php?lang=$1 [L]

## Home Page
RewriteRule ^([a-z]{2})?/?h-([0-9]+)(/c-([0-9]+))?/?$ index.php?lang=$1&m=home&h=$2&c=$4 [L]
RewriteRule ^([a-z]{2})?/?h-([0-9]+)/c-([0-9]+)/f-([0-9]+)/?$ index.php?lang=$1&m=home&h=$2&c=$3&f=$4 [L]

## search Page
RewriteRule ^([a-z]{2})?/?search/?$ index.php?lang=$1&m=search&h=$2&c=$4 [L]

## links_page Page
RewriteRule ^([a-z]{2})?/?links_page/?$ index.php?lang=$1&m=links_page&h=$2&c=$4 [L]

## video_page Page
RewriteRule ^([a-z]{2})?/?video_page/?$ index.php?lang=$1&m=video_page&h=$2&c=$4 [L]

## data save  Page
RewriteRule ^([a-z]{2})?/?contentsave/?$ index.php?lang=$1&m=contentsave&h=$2&c=$4 [L]


## Image uploads  Page
RewriteRule ^([a-z]{2})?/?imageUploads/?$ index.php?lang=$1&m=imageUploads&h=$2&c=$4 [L]

## video Page
RewriteRule ^([a-z]{2})?/?video/?$ index.php?lang=$1&m=video&h=$2&c=$4 [L]

## allsystem Page
RewriteRule ^([a-z]{2})?/?allsystem/?$ index.php?lang=$1&m=allsystem&h=$2&c=$4 [L]


## image_page Page
RewriteRule ^([a-z]{2})?/?image/?$ index.php?lang=$1&m=image&h=$2&c=$4 [L]

## image_full Page
RewriteRule ^([a-z]{2})?/?image_full/?$ index.php?lang=$1&m=image_full&h=$2&c=$4 [L]


## states Page
RewriteRule ^([a-z]{2})?/?states/?$ index.php?lang=$1&m=states&h=$2&c=$4 [L]

## Forums && Topics
RewriteRule ^([a-z]{2})?/?p-([0-9]+)(/c-([0-9]+))?/?$ index.php?lang=$1&m=forums&profession_id=$2&category_id=$4 [L]
RewriteRule ^([a-z]{2})?/?p-([0-9]+)/f-([0-9]+)(/page-([0-9]+))?/?$ index.php?lang=$1&m=topics&profession_id=$2&id=$3&page=$5 [L]
RewriteRule ^([a-z]{2})?/?p-([0-9]+)/f-([0-9]+)/post/?$ index.php?lang=$1&m=topics&p=post&profession_id=$2&id=$3 [L]
RewriteRule ^([a-z]{2})?/?p-([0-9]+)/t-([0-9]+)(/(reply|edit|quote|delete|lock|watch|unwatch))?(-([0-9]+))?(/page-([0-9]+))?/?$ index.php?lang=$1&m=post&p=$5&profession_id=$2&id=$3&post_id=$7&page=$9 [L]


## Profile && Private Messages && Logout
RewriteRule ^([a-z]{2})?(/?p-([0-9]+))?/?messages(/(inbox|sent))?/?$ index.php?lang=$1&m=messages&p=$5&profession_id=$3 [L]
RewriteRule ^([a-z]{2})?(/?p-([0-9]+))?/?messages/(inbox|sent)/show-([0-9]+)(/(delete))?/?$ index.php?lang=$1&m=messages&p=show&type=$4&id=$5&profession_id=$3&a=$7 [L]
RewriteRule ^([a-z]{2})?(/?p-([0-9]+))?/?messages/(sendpm|reply|quote)-([0-9]+)/?$ index.php?lang=$1&m=messages&p=$4&id=$5&profession_id=$3 [L]
RewriteRule ^logout/?$ index.php?m=logout [L]


## External forums
RewriteRule ^([a-z]{2})?/?p-([0-9]+)/(c|f)-([0-9]+)/forums/?$ index.php?m=external_forums&&p=$3&profession_id=$2&id=$4 [L]


## Search
RewriteRule ^([a-z]{2})?/?p-([0-9]+)/search(/page-([0-9]+))?/?$ index.php?lang=$1&m=search&page=$4&profession_id=$2 [L]

## Pages
RewriteRule ^([a-z]{2})?/?p-([0-9]+)/([-a-zA-Z0-9]+)/?$ index.php?lang=$1&m=page&label=$3&profession_id=$2 [L]

## 404!!!
RewriteRule ^(([a-z]{2})/)?404/?$ index.php?lang=$2&m=404 [L]


</IfModule>
<IfModule mod_suphp.c>
 suPHP_ConfigPath /home/loghin
 <Files php.ini>
   order allow,deny
   deny from all
 </Files>
</IfModule>

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php5_module>
   php_flag asp_tags Off
   php_flag display_errors On
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php56"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag asp_tags Off
   php_flag display_errors On
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php56"
   php_value upload_max_filesize 2M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php56 .php .php5 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
