/* Inputs */
.button,
	.button span {background:url(buttons.png)}

/* Scroll arrow */
.scrollArrow {background-image:url(scrollArrows.png)}

/* Header */
#header {background:url(header_bg.png) repeat-x;color:#f4f4f4}
	#header .left > a {text-shadow:1px 1px 1px #929292;color:#eff3f5}
#header .customize {color:#e61312}
#header .customize,
	#header .customize strong {background-image:url(customize_bg.png)}
	#custBlock {background:#f1ecec}
		#custBlock .cnt {background:url(customize_block_bg.png) left top repeat-x #f6fbfb}
		#custBlock .info {background:url(customize_info_bg.png) left top repeat-x}

/* Body */
#body {background-image:url(body_bg.jpg)}
#body.eye {background-image:url(body_bg_eye.jpg) !important}
	#body ul li h2 a {text-shadow:#d9181a 1px 1px 1px;color:#420000}
	#body .logo {background:url(logo.png) no-repeat right bottom;width:592px;height:322px;top:100px;left:220px}
	#body.eye .logo {background:url(logo_eye.png) no-repeat right bottom !important;width:381px;height:250px;top:142px !important;left:312px !important}

/* Body Subcategories */
#subcats .cnt {background:url(subcat_bg.png) top left repeat-x #f5f6f6}
	#subcats .items a:hover {background:#f8d8d8}
#subcats .info {background:url(subcat_info_bg.png) top left repeat-x;text-shadow:1px 0 0 #9e3333}

/* Content */
#content {background:url(content_bg.png) repeat-x #767676}

/* Search block */
#content .inputSearch strong ,
	#content .inputSearch strong i {background-image:url(search_bg.png)}

/* Results */
.resultsCats li a strong {text-shadow:#958585 1px 0px 1px;color:#ffe0e0}
.resultsCats li a:hover strong {text-shadow:none;color:#ffffff}
.resultsCats li a.selected strong {text-shadow:none;color:#000000}
	.resultsCats li a.selected i,
		.resultsCats li a.selected strong {background-image:url(results_cats_bg.png)}
#results .content,
	#results ._left,
	#results ._right {background-image:url(results_bg.png)}
		#results ._left > a,
		#results ._right > a {background-image:url(arrows.png)}
		#results .content li:hover {background:#f0eced}
	#results .content li h2 {color:#fe5c31}

/* Suggestion */
#suggest .head > div > a {background-image:url(sugArrows.png)}
#suggest .cnt {background:url(suggest_bg.png) left 0 repeat-x #f7f6f6}
	#suggest .cnt > .left ul.top li > label {background:#eeba95}
#suggest .footer > a {background-image:url(suggest_options.png)}
	#suggest .footer p a:hover {color:#ff9595}


/* Footer */
#footer {background-image:url(footer_bg.png)}

/* JsScroll */
.jspTrack,
.jspDrag {background-image:url(scroll_bg.png)}