/* sub_header */
#sub_header { padding-top:2px; border-bottom:1px solid #04528F;}

#sub_header .first {height:34px;padding-top:3px;background-color:#062A46;border-bottom:1px solid #7AB5E4;}
#sub_header .first > ul { display:block;text-align:center; }
#sub_header .first > ul > li {display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;height:34px;margin:0px 1px;}
#sub_header .first > ul > li a,
#sub_header .first > ul > li span {display:block;height:31px;line-height:31px;margin-top:1px;padding:1px 14px 0;font: normal normal 400 13px/31px Arial;color:#ffffff;border-width:1px 1px 0;border-style:solid;border-color:transparent}
#sub_header .first > ul > li a:hover,
#sub_header .first > ul > li.selected > span {height:32px;text-decoration:none;border-color:#7ab5e4;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;background: #15629d; /* Old browsers */
background: -moz-linear-gradient(top,  #15629d 0%, #197cca 50%, #1b87db 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#15629d), color-stop(50%,#197cca), color-stop(100%,#1b87db)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #15629d 0%,#197cca 50%,#1b87db 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #15629d 0%,#197cca 50%,#1b87db 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #15629d 0%,#197cca 50%,#1b87db 100%); /* IE10+ */
background: linear-gradient(to bottom,  #15629d 0%,#197cca 50%,#1b87db 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15629d', endColorstr='#1b87db',GradientType=0 ); /* IE6-9 */}
#sub_header .first > ul > li.selected > span {}

#sub_header .second { display:none; border-bottom:1px solid #7AB5E4;height:33px;padding:7px 0 0 0;background: #1b87db; /* Old browsers */
background: -moz-linear-gradient(top,  #1b87db 1%, #15619c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1b87db), color-stop(100%,#15619c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1b87db 1%,#15619c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1b87db 1%,#15619c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1b87db 1%,#15619c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1b87db 1%,#15619c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b87db', endColorstr='#15619c',GradientType=0 ); /* IE6-9 */}
#sub_header .second.visible { display:block; }
#sub_header .second > ul { display:block;text-align:center; }
#sub_header .second > ul > li {display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;margin:0px 1px;padding:0 7px 9px 1px;position:relative; }
#sub_header .second > ul > li > a { display:block;line-height:25px;padding:1px 6px 0;color:#ffffff;font: normal normal 400 12px/25px Arial; }
#sub_header .second > ul > li > a:before { display:block; content:''; position:absolute; top:8px; right:0; width:1px; height:12px; background:#FFF; }
#sub_header .second > ul > li:last-child > a:before { display:none; }
#sub_header .second > ul > li:hover > a {background:#47a6f0;text-decoration:none;border-radius:5px}
/* Second sub-menu */
#sub_header .second li ul {background:#f7f7f7;display:none;width:138px;position:absolute}
#sub_header .second li > ul {top:35px;left:-6px;z-index:39;border-radius:0 0 2px 2px;border:1px solid #e1e1e1}
#sub_header .second li > ul li {position:relative;border-bottom:1px solid #e1e1e1}
#sub_header .second li > ul li a {display:block;height:23px;padding:0 5px 0 12px;font:normal 14px/23px arial;text-align:left;color:#2e2e2e;border-radius:1px;border:1px solid transparent}
#sub_header .second li > ul li:hover > a {text-decoration:none;color:#ffffff;border-color:#042844;background: #286694; /* Old browsers */
background: -moz-linear-gradient(top,  #286694 0%, #062e4d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#286694), color-stop(100%,#062e4d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #286694 0%,#062e4d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #286694 0%,#062e4d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #286694 0%,#062e4d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #286694 0%,#062e4d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#286694', endColorstr='#062e4d',GradientType=0 ); /* IE6-9 */}
#sub_header .second li > ul li:hover > a:before {display:block;content:'';position:absolute;top:1px;left:1px;right:1px;height:1px;background:#3482B2}
#sub_header .second li > ul li:hover > a:after {display:block;content:'';position:absolute;bottom:1px;left:1px;right:1px;height:1px;background:#06365B}
#sub_header .second li > ul > li > span.icon {background-position:-80px -46px;display:block;width:6px;height:8px;position:absolute;top:9px;right:6px}
#sub_header .second li > ul > li:hover > span.icon {background-position:-73px -46px}
#sub_header .second li > ul li:last-child {border-bottom:0}
/* Second second sub-menu */
#sub_header .second li > ul > li > ul {top:-1px;left:138px;border-radius:2px;border:1px solid #e1e1e1}
#sub_header .second li:hover > ul {display:block}
#sub_header .second li.last {background:none}